
.body{ 
    font-family: 'Roboto', sans-serif;
    background-color: white;

    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}

.preencher ul {

    position: absolute;
    left: 35%;
    top: 10%;
    transform: translateX(-50%,-50%);

    grid-template-columns: repeat(1, 200px);

}
#navbar{
    height: 50px;
    width: 100%;
}

.logo{
    position: relative;
    top: -15px;
    height: 40px;
    width: 40px;
}
.navbar-container{
    
    flex-direction: column;
    padding: 20px 0;
}


.preencher-title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 10px;

}


#navbar-items li{
    display: grid;
    grid-template-columns: auto;
    text-align: start;
    font-weight: bold;
    width: 100%;
    padding: 1%;


}

#navbar-items li:nth-child(2){
    border-top: #141414;
    border-top: #141414;


}

.input{
    max-width: 100px;
}

.input-group__label {
    max-width: 200px;

    
}
.input-group{
    width: 320px;
}

#navbar-itens ul{

    width: 100px
    
}
.botao{
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    background: linear-gradient(to left top, #003aff, #005dfc, #0072ec, #0080d5, #2c8aba);
    border: none;
    border-radius: 5px;
    color: white;
    min-width: 50vh;
    width: 50vh;
    min-height: 05vh;
}
.resultados{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50% );
    font-size: 12px;

}
.text-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
    font-size: 15px;

}

.blocos{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50% );


    background: none;
    max-width: 300vh;
    width: 50vh;

}


.blocos-mp{
    position: absolute;
    top: 450%;
    left: 50%;
    transform: translate(-50%,-50% );


    background: none;
    height: 16vh;
    max-width: 300vh;
    width: 50vh;
    max-height: 300vh;


}
.bloco1{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-0%,-0% );
    width: 130px;

    z-index: -1;

}
.bloco2{
    position: relative;
    top: 0%;
    left: 56.7%;
    transform: translate(-0%,-0% );
    width: 130px;

    z-index: -1;
    

}

.bloco3{
    position: absolute;
    top: 110%;
    left: 0%;
    transform: translate(-0%,-0% );
    width: 130px;

    z-index: -1;

    

}

.bloco4{
    position: absolute;
    top: 110%;
    left: 56.7%;
    transform: translate(-0%,-0% );
    width: 130px;

    z-index: -1;
    

}

.bloco5{
    position: absolute;
    top: 220%;
    left: 0%;
    transform: translateX(-0%);
    width: 130px;

    z-index: -1;

    

}

.bloco6{
    position: absolute;
    top: 220%;
    left: 56.7%;
    transform: translateX(-0%);
    width: 130px;

    z-index: -1;
}
.resultados-MP{

    position: absolute;
    top: 380%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;
    z-index: -1;
    font-size: 12px;


}

.bloco1-mp{
    position: absolute;
    top: 00%;
    left: 0%;
    width: 130px;
    
    transform: translateX(-0%);

    z-index: -1;

    

}

.bloco2-mp{
    position: absolute;
    top: 00%;
    left: 56.7%;
    transform: translateX(-0%);
    width: 130px;

    z-index: -1;

    

}

.bloco3-mp{
    position: absolute;
    top: 110%;
    left: 56.7%;
    transform: translateX(-0%);
    width: 130px;

    z-index: -1;

    

}
.bloco4-mp{
    position: absolute;
    top: 110%;
    left: 0%;
    transform: translateX(-0%);
    width: 130px;

    z-index: -1;

    

}


.bloco5-mp{
    position: absolute;
    top: 220%;
    left: 56.7%;
    transform: translateX(-0%);
    width: 130px;

    z-index: -1;

    

}

.bloco6-mp{
    position: absolute;
    top: 220%;
    left: 0%;
    transform: translateX(-0%);
    width: 130px;

    z-index: -1;

    

}

.bloco7-mp{
    position: absolute;
    top: 110%;
    left: 0%;
    transform: translateX(-0%);
    width: 300px;


    z-index: -1;
    

}

#footer{
    position: absolute;
    top: 300%;
    left: 130%;
    transform: translate(-50%,-50% );

}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.valor_TOTAL{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50% );
    text-align: center;
    font-size: 20px
}
.valor_share{
    font-size: 15px;
}


